NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
ADMIN_USERNAME=Admin01
ADMIN_PASSWORD=Admin4321
NEXT_PUBLIC_SITE_BASE_URL=http://localhost:3001
